body {
/*	font-family: Courier New;*/
	font-family: monospace;
}
.container {
	max-width: 600px;
	margin: 0px auto;
	padding: 0 20px;
}

h1 {
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	font-size: 1.8em;
	font-weight: normal;
}
h2 {
	margin-top: 1em;
	margin-bottom: 0.4em;
	font-size: 1.4em;
	font-weight: normal;
}

div.chat {
	margin: 5px;
	padding: 5px;
	font-family: monospace;
	background: #ddd;
}

div.msg {
	padding: 5px 0px 5px 0px;
	margin: 5px;
}

div.left {
	text-align: left;
}

div.right {
	text-align: left;
}

div.msg > span {
	padding: 4px 10px 4px 10px;
	border-radius: 5px;
	background: white;
}

img {
	max-width: 600px;
}

.image-comment {
	padding: 0px 30px;
	font-style: italic;
	color: #aaa;
}
